@charset "UTF-8";
.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.header {
  background-image: url(/Assets/Background.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.header .header-content {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: var(--vertical-space);
  width: var(--width-offset);
  max-width: var(--max-width);
  margin: auto;
}
.header .header-content .logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header .header-content .search {
  padding: 0.5rem;
  border: var(--border-small) solid var(--color-black-coffee);
  border-radius: var(--border-radius);
}
.header .header-content .cart {
  display: flex;
}
.header .header-content img {
  max-height: 25px;
}

/*Main*/
.main {
  background-color: var(--coffee-with-milk);
  margin-top: 2rem;
  padding-top: 5px;
  width: var(--width-offset);
  max-width: var(--max-width);
  margin: auto;
}

/*textar*/
.titles {
  font-size: x-large;
  text-align: center;
}

.texti {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  padding: 3rem;
  margin-bottom: 15px;
  width: 100%;
}

.texti div {
  display: grid;
  justify-self: center;
  padding: 10px;
  background-color: var(--coffee-with-milk);
  border-radius: 5px;
}

.pontunarsida {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--vertical-space);
}
.pontunarsida .karfa img {
  width: 127px;
}

/**Footer**/
.footer {
  background-color: var(--color-coffee);
  padding: 3rem 0;
}

.footer-boxes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--vertical-space);
  line-height: 25px;
  width: var(--width-offset);
  margin: auto;
}

.footer-box {
  color: var(--color-light);
}

.footer .footer-box .titill {
  margin-bottom: calc(var(--spacing) * 0.5);
  border-bottom: var(--border-small) solid var(--color-coffee-with-milk);
  font-family: var(--font-family-base);
}

.nav ul {
  grid-template-columns: repeat(4, 1fr);
  display: grid;
  align-items: center;
  list-style: none;
}

/* Reset og border-box á allt */
* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  background-color: inherit;
  text-decoration: none;
}

/* https://css-tricks.com/building-css-grid-overlay/ */
:root {
  --grid-color: hsla(0, 75%, 75%, 0.25);
  --grid-repeating-width: calc(100% / var(--columns));
  --grid-column-width: calc((100% / var(--columns)) - var(--gutter));
  --grid-background-width: calc(100% + var(--gutter));
  --grid-background-columns: repeating-linear-gradient(
    to right,
    var(--grid-color),
    var(--grid-color) var(--grid-column-width),
    transparent var(--grid-column-width),
    transparent var(--grid-repeating-width)
  );
}

html {
  position: relative;
}

html::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  width: calc(100% - 2 * var(--offset));
  max-width: var(--max-width);
  min-height: 100vh;
  background-image: var(--grid-background-columns);
  background-size: var(--grid-background-width) 100%;
  z-index: 1000;
  pointer-events: none;
}

/* Stillingar */
:root {
  /* Grunn bilið okkar er 1rem == 16px */
  --font-base-body-px: 16px;
  --spacing: 1rem;
  /* Bil á milli „stærri“ eininga (header, efnisbox, footer) */
  --vertical-space: calc(var(--gutter));
  /* Hámarksbreidd á efni */
  --max-width: 1400px;
  --width-offset: calc(100% - (2 * var(--offset)));
  /* Border breiddir */
  --border-small: 1px;
  --border-large: 8px;
  --border-radius: 6px;
  /* Litir */
  --color-coffee: #6a4f3a;
  --color-coffee-with-milk: #decec3;
  --color-black-coffee: #392b20;
  --color-light: #fefefe;
  /* Grid stillingar */
  --columns: 12;
  --gutter: 30px;
  --offset: 20px;
  /* Letur stillingar */
  --font-base-size: 1rem;
  --font-family-base: "Lato", Helvetica, Arial, sans-serif;
  --font-family-heading: "Lora", Georgia, serif;
  --font-family-huge: "Lato", Helvetica, Arial, sans-serif;
  /* Transitions */
  --transition-time-short: 300ms;
  --transition-time-long: 600ms;
  --transition-timing-function: ease-in-out;
}

/*box*/
.boxes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  padding: 1rem;
  margin-bottom: 15px;
  width: 100%;
}

.boxes .box {
  display: grid;
  justify-self: center;
  padding: 10px;
  background-color: #FFFFFF;
  border-radius: 5px;
}

.box .title {
  font-size: larger;
}

/*Kassar í vöru*/
.kassi {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.kassi .minnibox {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.kassar {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  margin-left: 20%;
  margin-right: 20%;
}

.kassi .litilbox {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 5px;
  width: 50%;
  display: inline;
}

/* Banner */
.banner {
  display: grid;
  grid-template-rows: 2;
  justify-items: center;
  align-items: center;
}
.banner h1 {
  font-family: var(--font-family-huge);
  font-size: 100px;
}

@font-face {
  font-family: "Lora";
  font-style: normal;
  font-display: swap;
  src: url(../fonts/Lora-VariableFont_wght.ttf) format("woff");
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-display: swap;
  src: url(../fonts/Lato-Regular.ttf) format("woff");
}
@font-face {
  font-family: "Lato";
  font-style: bold;
  font-display: swap;
  src: url(../fonts/Lato-Bold.ttf) format("woff");
}
h1, h2, h3 {
  font-family: var(--font-family-heading);
}

html {
  font-size: var(--font-base-body-px);
  font-family: var(--font-family-base);
}

/**Takkar**/
.boxes .box .button {
  background-color: #FFFFFF;
  border: solid black 1px;
  text-align: center;
  display: inline;
  padding: 9px;
  border-radius: 5px;
}

.texti div .button {
  background-color: #6F4E37;
  color: #fefeff;
  border-radius: 5px;
  font-size: medium;
}

/*litlir takkar*/
.box .litilbox {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 5px;
  width: 50%;
  display: inline;
}

.takkar .litilbox {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 5px;
  width: 50%;
  display: inline;
}

.litilbox {
  background-color: #E1CEC2;
  padding: 4px;
  border-radius: 5px;
}

.button {
  color: var(--color-light);
  background-color: var(--color-coffee);
}

/*# sourceMappingURL=styles.css.map */
