/*box*/

.containerForBoxes {
    background-image: url(/Assets/BackgroundCoffee.png);
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;

    .titles {
        margin-top: auto;
        margin-bottom: calc(2 * var(--spacing));
        color: #000;

        font-size: 36px;
        line-height: 48px;
    }

    @media (min-width: 1450px) {
        
        
      }
}

.boxes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: var(--width-offset);
    max-width: var(--max-width);
    margin: 0 auto;

    gap: var(--vertical-space);
    /*flex-shrink: 0;
    height: auto;*/

}

.boxes .box {
    display: grid;
    align-items: center;
    gap: var(--spacing);

    padding: 15px;

    background-color: #FFFFFF;
    border-radius: 5px;

    /*width: 330px;
    min-width: 22%;
    height: 360px;*/
}

.boxes .box img {
    width: 100%;
}

@media (min-width: 330px){
    .boxes {
        grid-template-columns: repeat(var(--columns), 1fr);
        grid-template-rows: auto;
    }

    .boxes .box {
        grid-column: span 12;
    }
}

@media (min-width: 690px){
    .boxes {
        grid-template-columns: repeat(var(--columns), 1fr);
        grid-template-rows: auto;
    }

    .boxes .box {
        grid-column: span 6;
    }
}

@media (min-width: 1050px){
    .boxes {
        grid-template-columns: repeat(var(--columns), 1fr);
        grid-template-rows: auto;
    }

    .boxes .box {
        grid-column: span 4;
    }
}

@media (min-width: 1410px){
    .boxes {
        grid-template-columns: repeat(var(--columns), 1fr);
        grid-template-rows: auto;
    }

    .boxes .box {
        grid-column: span 3;
    }
}

/*.main-voruListi {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
    gap: 25px;
    padding: 1rem;
    width: 100%;
    flex-shrink: 0;
    height: auto;
    
    align-items: center;
    padding-bottom: 2rem;



    div {
        display: grid;
        justify-self: center;
        padding: 10px;

        background-color: #FFFFFF;
        border-radius: 5px;

        width: 330px;
        min-width: 22%;
        height: 360px;

        li {
            list-style-type: none;
        }

        ul {
            display: flex;
            flex-direction: row;
            gap: 10px;
            height: 26px;

            li {
                background-color: #E1CEC2;
                border-radius: 5px;
            }
        }

        

    }
}*/


.tengdar {
    background-color: #E1CEC2;
    width: 100%;

    h2{
        width: var(--width-offset);
        margin: 2rem auto;
        font-size: var(--font-h2-size);
    }


}

/*.tengdar .boxes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 1rem;
    width: 100%;
    flex-shrink: 0;
    height: auto;
    
    align-items: center;
    padding-bottom: 2rem;

    .box {
        display: grid;
        padding: 15px;
        justify-content: space-between;

        background-color: var(--color-light);
        border-radius: 5px;

        width: 330px;
        min-width: 22%;
        height: 360px;

        li {
            list-style-type: none;
        }

        ul {
            display: flex;
            flex-direction: row;
            gap: 10px;
            height: 26px;

            li {
                background-color: #E1CEC2;
                border-radius: 5px;
            }
        }

        

    }
}*/


.box .title {
    font-size: larger;
}



/* Banner */
.banner {
    display: grid;
    grid-template-rows: 2;
    justify-items: center;
    align-items: center;

    h1 {
        font-family: var(--font-family-bold);
        font-size: 100px;
    }
}

/*
@media (max-width: 500px) {
        .boxes {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        
        gap: 25px;
        padding: 1rem;
        width: 100%;
        flex-shrink: 0;
        height: auto;
        
        align-items: center;
        padding-bottom: 2rem;
    
    
            
    
        }
    }  */



