/*box*/

.containerForBoxes {
    background-image: url(/Assets/BackgroundCoffee.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 674px;
    display: grid;
    grid-template-columns: 1fr ;
    align-items: center;

    .titles {
        margin-top: auto;
        color: #000;

        font-family: Lato;
        font-size: 36px;
        font-style: normal;
        font-weight: 400;
        line-height: 48px;
    }
    .boxes {
        margin-bottom: auto;
    }
    

    @media (min-width: 1450px) {
        
        
      }
}


.boxes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
    

    gap: 25px;
    padding: 1rem;
    width: 100%;
    flex-shrink: 0;
    height: auto;
    
    align-items: center;

}
.boxes .box {
    display: grid;
    justify-self: center;
    padding: 10px;

    background-color: #FFFFFF;
    border-radius: 5px;

    width: 330px;
    min-width: 22%;
    height: 360px;
}

.box .title {
    font-size: larger;
}

.fill {
    background-color: #3C2A1E;
    position: absolute;  /* Stays fixed during scrolling */
    z-index: -1;  /* Behind the content */
    height: 400px;
    width: 5000px;
    bottom: 0;
}
