/**Takkar**/
.voruTakki {
    background-color: var(--color-light);
    color: var(--color-black-coffee);
    border: var(--border-small) solid var(--color-coffee);
    text-align: center;
    padding: 15px 10px;
    border-radius: var(--border-radius);
    font-family: var(--font-family-bold);
}

 .texti div .button {
    background-color: #6F4E37;
    color: #fefeff;
    border-radius: 5px;
    font-size: medium;
}

/*litlir takkar*/

.box .litilbox {
    display: flex;
    flex-direction: row;

    gap: 10px;

    .litidbox {
        padding: 5px;
        background-color: #E1CEC2;
        border-radius: 5px;
        font-size: var(--font-small-size);
    }
}

.main-panta .button {
    color: var(--color-light);
    background-color: var(--color-coffee);
    padding: 10px 15px;
    border: var(--border-small) solid var(--color-coffee);
    border-radius: var(--border-radius);
    margin-bottom: 2rem;
    font-size: var(--font-large-body-size);
    font-family: var(--font-family-base);
}

/*Takkar á forsíðu*/

.textaTakki {
    padding: 10px 15px;
    margin: 2rem 0;
    border-radius: var(--border-radius);
    border: 1px solid var(--color-black-coffee);
    color: var(--color-light);
    background: var(--color-coffee);
}