@font-face {
    font-family: 'Lora';
    font-style: normal;
    font-display: swap;
    src: url(../fonts/Lora-VariableFont_wght.ttf) format('woff');
  }
  
  @font-face {
    font-family: 'Noto Sans Display';
    font-style: normal;
    font-display: swap;
    src: url(../fonts/NotoSansDisplay-VariableFont_wdth\,wght.ttf) format('woff');
  }

  h1, h2, h3 {
    font-family: var(--font-family-heading);
  }

  html {
    font-size: var(--font-base-body-px);
    font-family: var(--font-family-base);
  }