
/**Footer**/
.footer {
   background-color: var(--color-coffee);
   padding: 3rem 0;
}

.footer-boxes {
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    gap: var(--vertical-space);
    line-height: 25px;
    width: var(--width-offset);
    margin: auto;
 }

 .footer-box {
   color: var(--color-light);
 }

 .footer .footer-box .titill {
   margin-bottom: calc(var(--spacing) * 0.5);
   border-bottom: var(--border-small) solid var(--color-coffee-with-milk);
   font-family: var(--font-family-base);
 }