/**Footer**/
footer {
    display: grid;
    text-align: left;
    grid-template-columns:repeat(3, 1fr);
    gap: 1rem;
    line-height: 25px;
    width: 100%;

    padding: 1rem;
    
    background-color: #3C2A1E;
    color: white;
 }

 footer section p {
    border-bottom: solid 2px #E1CEC2;
    font-size: x-large;
 }

 footer ul {
    list-style: none;
 }