.pontunarsida {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--vertical-space);

    .pontunarform {
    

        .efra-nedra-form {
            
            .vinstri-haegri-reitir {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: var(--vertical-space);

                .reitur {
                    display: flex;
                    flex-direction: column;

                    input {
                        padding: 0.5rem;
                        border-radius: var(--border-radius);
                    }
                }
            }
        }
    }

    .karfa {
        img {
            width: 127px;
        }
    }
}