@use "sass:math";

header {
    background-image: url(/Assets/Background.png);
    background-repeat: no-repeat;
    background-size: cover;

}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    box-sizing: border-box;

}