@use "sass:math";

.sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

.header {
header {
    display: flex;
    flex-direction: row;
    display: inline-flex;
    background-image: url(/Assets/Background.png);
    background-repeat: no-repeat;
    background-size: cover;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: calc(100% - (2 * var(--offset)));

    .logo {
        display: flex;
        justify-content: flex-start;
    }

    input {
        padding: var(--spacing);
    }

    .cart {
        display: flex;
        justify-content: flex-end;
    }
  }
