@use "sass:math";

.sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

.header {
    position: relative;
    width: calc(100% - (2 * var(--offset)));
    
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('/Assets/BackgroundOpacity.png');
    

    width: 100%;
    height: 565px;
    flex-shrink: 0; 
    
    
  }

.nav > :last-child {
    position: absolute;
    right: 0;
  }

.nav {
    display: grid;
    grid-template-columns: 30% 35% 25% 10%;
    gap: 20px; 
    

    


    .logo-container {
        padding: 0px 94.27px 0px 15px;
        align-items: center;
        gap: 10px;
        display: inline-flex;


        h1 {
            display: flex;
            width: 240px;
            height: 60px;
            flex-direction: column;
            justify-content: center;

            color: #000;

            font-family: Lora;
            font-size: 40px;
            font-style: normal;
            font-weight: 700;
            line-height: 40px; /* 100% */

            margin-bottom: 0rem;
        }
    }

    .search {
        position: relative;
        display: flex;
        align-items: center;
    
    }

    .search input[type="search"] {
        padding: var(--spacing);
        width: 100%;

        border-radius: 5px;
        height: 10px;

        background: #FEFEFE;
    

        display: flex;
        align-items: center;
    }

    .search::after {
        content: "\1F50D";  /* Unicode character for a magnifying glass */
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 18px;
    }


    .cart {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 60px;
        flex-shrink: 0;

        img {
            flex-shrink: 0;
        }
    }


    .categories {
        display: flex;
        width: 330px;
        height: 60px;
        justify-content: space-between;
        align-items: center;
        flex-shrink: 0;
        
    }
}




.mainBanner {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    h1 {
        text-align: center;
        width: 930px;
        color: #000;
        text-align: center;
        font-family: Lato;
        font-size: 160px;
        font-style: normal;
        font-weight: 700;
        line-height: 192px; /* 120% */
    }

    p {
        text-align: center;
        width: 930px;
        height: 53px;
        color: #000;
        text-align: center;

        /* Main heading */
        font-family: Lato;
        font-size: 36px;
        font-style: normal;
        font-weight: 400;
        line-height: 48px; /* 133.333% */
    }
}

