//hér þurfum við að skilgreyna öll gildi þannig við getum kallað á þau t.d. liturinn #8ca0ff = er breytan background color eða space = 1rem
.vara-upplysingar {
    ul {
        display: flex;
        align-items: flex-start;
        gap: 10px;
        flex-shrink: 0;
        li{
            background-color: #E1CEC2;
            border-radius: 5px;
            list-style-type: none;
            padding: 5px;
        }
    }

    .price-and-button {
        margin-top: 2rem;
        display: flex;
        align-items: start;
        justify-content: space-between;

        p {
            font-family: var(--font-family-bold);
        }

        button{
            width: 330px;
        }
    }

    
}

.vara-mynd {
    width: 100%;
    object-fit: cover;
}


.lysingar {
    display: flex;
    width: 930px;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;

    width: var(--width-offset);
    margin: auto;

    h2 {
        font-family: var(--font-family-bold);
        font-size: var(--font-h2-size);
    }

    .lysing h3 {
        margin-bottom: 0.5rem;
        font-size: var(--font-h2-size);
    }
}

/* Vöruupplýsingar á vara.html*/
.um-voru {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--vertical-space);
    width: var(--width-offset);
    margin: auto;
}

@media (max-width: 740px) {
    .um-voru {
        grid-template-columns: repeat(var(--columns), 1fr);
        grid-template-rows: auto;
    }

    .vara-mynd {
        grid-column: span 12;
    }

    .vara-upplysingar {
        grid-column: span 12;
    }
}